{% extends "base.html" %}
{% block title %}Edit Vehicle{% endblock %}
{% block content %}
    <h2>Edit Vehicle</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <label for="name">Name</label>
            {{ form.name }}
        </div>
        <div>
            <label for="make">Make</label>
            {{ form.make }}
        </div>
        <div>
            <label for="model">Model</label>
            {{ form.model }}
        </div>
        <div>
            <label for="year">Year</label>
            {{ form.year }}
        </div>
        <button type="submit">Update Vehicle</button>
    </form>
{% endblock %}
