{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h2>Welcome to the Car Modification Tracker</h2>
    <p>This is a simple application to track your vehicle modifications.</p>

    <h3>Your Vehicles</h3>
    {% if vehicles %}
        <ul>
            {% for vehicle in vehicles %}
                <li>
                    <a href="{{ url_for('vehicle', vehicle_id=vehicle.id) }}">{{ vehicle.name }}</a> - {{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.year }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No vehicles found. <a href="{{ url_for('add_vehicle') }}">Add a new vehicle</a>.</p>
    {% endif %}
{% endblock %}
